<%# <% <div class="banner m-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1663051303500-c85bef3f05f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZnVuJTIwd2l0aCUyMGZyaWVuZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);">%>

  <%# <div class="container"> %>
    <%# <h1>Welcome to Annoyance!</h1> %>
      <%# <p></p> %>
    <%# <p> class="buttonhp"> %>
    <%# </p> %>
  <%# </div> %>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://bestlifeonline.com/wp-content/uploads/sites/3/2018/05/Friends-Laughing.jpg?quality=82&strip=all);">
  <div class="container">
    <h1>Welcome to Annoyance!</h1>
    <br>
      <p><strong> Our concept is simple: Book an Annoyance to play a prank on somebody you know.</strong></p>
      <p>If you want to join us and create a new annoyance, please clink here:</p>
    <p class="buttonhp">
      <%= link_to "Create a new annoyance", new_annoyance_path, class: "btn btn-ghost-principal text-white"%>
    </p>
  </div>
</div>
<br>
 <div class="searching-annoyance" >
    <%= form_with url: annoyances_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a annoyance" %>
      <%= submit_tag "Search", class: "btn-ghost" %>
    <% end %>

<br>

  <br>
</div>

<div class="container">
  <div class="cards">
    <% @annoyances.order(:name).each do |annoyance| %>
      <div class="cards-annoyance">
        <div>
          <% if annoyance.photo.attached? %>
            <%= cl_image_tag annoyance.photo.key, height: 300, width: 400, crop: :fill %>
          <% else %>
            <% image_tag "stock.png" %>
          <% end %>
        </div>
        <div class="cards-annoyance-infos">
          <div>
            <%= link_to annoyance.name, annoyance_path(annoyance) %>
            <br>
            <%= annoyance.category %>
          </div>
          <div>
            <% unless annoyance.rating.nil? %>
            <% annoyance.rating.to_i.times do %>
              <i class=“fa-solid fa-star”></i>
            <%end%>
            <% (5-annoyance.rating).to_i.times do %>
              <i class=“fa-regular fa-star”></i>
            <%end%>
          <%end%>
            <br>
             <p class="fa-solid-fa-euro-sign">  <%= annoyance.price %>   </p>
          </div>
          <div class="annoyance-price-available">
              <% if annoyance[:availability] %>
                <div class="available">
                <%= "Available" %>
                </div>
              <%else%>
                <div class="outofstock" >
                  <%= "Out of stock" %>
                </div>
              <%end%>
          </div>
        </div>
      </div>
    <% end %>
    <br>
    <br>
  </div>
</div>
<br>
<br>
