<div class="head-create">
  <div>
    <h1>Welcome to Annoyance!</h1>
    <p>Our concept is simple: Book one of our Annoyance to play a prank on somebody you know!</p>
  </div>

  <div class="create-btn">
    <p>
      <%= link_to "Create new annoyance", new_annoyance_path, class: 'btn btn-ghost'%>
    </p>
  </div>
</div>


<div class="cards">
  <% @annoyances.order(:name).each do |annoyance| %>
    <div class="cards-annoyance">
      <div>
          <%= cl_image_tag annoyance.photo.key, height: 300, width: 400, crop: :fill %>
      </div>

      <div class="cards-annoyance-infos">
        <div>
          <%= link_to annoyance.name, annoyance_path(annoyance) %>
          <br>
          <%= annoyance.category %>
        </div>
        <div>
          <% annoyance[:rating].to_i.times do %>
            <i class="fa-solid fa-star"></i>
          <%end%>

          <% (5-annoyance[:rating]).to_i.times do %>
            <i class="fa-regular fa-star"></i>
          <%end%>
          <br>
          <%= annoyance.price %> <i class="fa-solid fa-euro-sign"></i>
        </div>

        <div class="annoyance-price-available">

            <% if annoyance[:availability] %>
              <div class="available">
              <%= "available" %>
              </div>
            <%else%>
              <div class="outofstock">
                <%= "out of stock" %>
              </div>
            <%end%>
        </div>
      </div>
    </div>
  <% end %>
</div>
