<div class="banner m-2" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://plus.unsplash.com/premium_photo-1663051303500-c85bef3f05f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZnVuJTIwd2l0aCUyMGZyaWVuZHN8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60);">
  <div class="container">
    <h1>Welcome to Annoyance!</h1>
      <p>Our concept is simple: Book an Annoyance to play a prank on somebody you know!</p>
    <p class="buttonhp">
    <%= link_to "List your annoyance", new_annoyance_path, class: "btn btn-ghost text-white"%>
    </p>
    <p class="buttonhp">
    <%= link_to "Discover the annoyances", annoyances_path, class: "btn btn-ghost text-white"%>
    </p>
  </div>
</div>

<div class="cards">
  <% @annoyances.order(:name).each do |annoyance| %>
    <div class="cards-annoyance">
      <div>
          <%= cl_image_tag annoyance.photo.key, height: 300, width: 400, crop: :fill %>
      </div>

      <div class="cards-annoyance-infos">
        <div>
          <%= link_to annoyance.name, annoyance_path(annoyance) %>
          <br>
          <%= annoyance.category %>
        </div>
        <div>
          <% annoyance[:rating].to_i.times do %>
            <i class="fa-solid fa-star"></i>
          <%end%>

          <% (5-annoyance[:rating]).to_i.times do %>
            <i class="fa-regular fa-star"></i>
          <%end%>
          <br>
          <%= annoyance.price %> <i class="fa-solid fa-euro-sign"></i>
        </div>

        <div class="annoyance-price-available">

            <% if annoyance[:availability] %>
              <div class="available">
              <%= "available" %>
              </div>
            <%else%>
              <div class="outofstock">
                <%= "out of stock" %>
              </div>
            <%end%>
        </div>
      </div>
    </div>
  <% end %>
</div>
