<h1>Create new annoyance</h1>

<%= simple_form_for @annoyance do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :category, collection: Annoyance::CATEGORIES %>
  <%= f.input :price %>
  <%= f.input :availability %>
  <%= f.submit %>
<% end %>

<%= link_to "Go back", annoyances_path %>
