<h1><%= @annoyance.name %></h1>
<ul>
  <li><%= @annoyance.description %></li>
  <li><%= @annoyance.price %></li>
  <li><%= @annoyance.category %></li>
  <li><%= @annoyance.rating %></li>
  <li><%= @annoyance.availability %></li></ul>
</ul>

<a href="">
  <div class="button">
    <%= link_to 'Buy an Annoyance', new_booking_path %>
  </div>
</a>

<%= link_to 'Annoyances index', annoyances_path%>
