<%= link_to 'Annoyances index', annoyances_path, class: 'btn-ghost'%>
<br>
<br>
<div class="card-product">
  <%= cl_image_tag @annoyance.photo.key%>


  <div class="card-product-infos">
    <h1><%= @annoyance.name %></h1>
    <h6><strong>Description</strong></h6>
    <%= @annoyance.description %>
    <br>
    <br>

    <div class="price-category">
      <div>
        <h6><strong>Price</strong> </h6>
        <%=@annoyance.price%>€
      </div>
      <div>
        <h6><strong>Category</strong></h6>
        <%= @annoyance.category %>
      </div>
      <div>
        <h6><strong>Rating</strong></h6>
        <p><%= @annoyance.rating %> ⭐ </p>
      </div>
    </div>
  </div>
</div>
<br>
<div class="icon-float">
  <%= link_to 'Buy an Annoyance',  new_annoyance_booking_path(@annoyance), class: 'btn-ghost'%>
</div>
<br>
<br>
<br>
