<h1><%= @annoyance.name %></h1>
<ul>
  <li><%= @annoyance.description %></li>
  <li><%= @annoyance.price %></li>
  <li><%= @annoyance.category %></li>
  <li><%= @annoyance.rating %></li>
  <li><%= @annoyance.availability %></li></ul>
</ul>

<br>
<br>

<a href="">
  <div class="button">
    <%= link_to 'Buy an Annoyance', new_booking_path, class: 'btn-ghost'%>
  </div>
</a>
<br>
<br>
<br>

<%= link_to 'Annoyances index', annoyances_path, class: 'btn-ghost'%>

<br>
<br>
