<div class ="card-create-annoyance">
  <h1>Tell us more about your target</h1>
</div>

<div class ="d-flex justify-content-between">
  <div class="container py-3">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <%= simple_form_for [@annoyance, @booking] do |f| %>
        <p>Please include your availability</p>
        <%= f.input :target, placeholder: "Who's the lucky one?" %>
          <%= f.input :info, placeholder: "Anything important we should know?" %>
          <%= f.input :created_at, label: "When to prank?",html5: true %>
          <%= f.submit 'Annoy!', class: 'btn-danger' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "List of Bookings", annoyance_bookings_path(@annoyance), class: 'btn-ghost' %>
  <%= link_to "Go back", annoyances_path, class: 'btn-ghost'%>
</div>
